* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Barcade";
  src: url("fonts/BarcadeBI.otf");
}

body {
  background-image: linear-gradient(to bottom left, #f2be22, #f29727, #f24c3d);
  width: 100%;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: right;
}

.navigation {
  display: flex;
  flex-flow: row;
  height: 100px;
  width: 600px;
  border-bottom-left-radius: 5rem;
  box-shadow: (0.2, 0, 0, 0);
}

.title {
  font-family: Barcade;
  font-size: 3rem;
  position: relative;
  margin-top: 20px;
  margin-left: 50px;
}

.hotbar_button {
  height: 36px;
  width: 36px;
  margin-top: 36px;
  margin-left: 6rem;
  box-sizing: border-box;
}

.hotbar_button:hover {
  background-color: grey;
}

.hotbar {
  margin-top: 6rem;
  margin-right: 8px;
  height: 24rem;
  background-color: rgb(255, 208, 0);
  box-shadow: 20px 5px 30px rgb(0, 0, 0);
  width: 240px;
  position: absolute;
  border-radius: 20px 20px 20px 4rem;
}

.joystick {
  height: 80px;
  width: 80px;
}

.hotbar_top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 10px;
}

.hotbar_search {
  border-radius: 20px;
  height: 2rem;
}

.exit_hotbar {
  font-size: 24px;
  margin-right: 10px;
}
